
div {
    background-color: red;
}
* {
    background-color: green;
}
.descendentOne {
    background-color: yellow;
}
#idExample {
    background-color: gray;
}

.descendentOne {
    background-color: orange;
}

#idExample .descendentOne {
    color: red;
}

div {
    border-style: solid;
    margin: 10px;
    padding: 15px;
}

span {
    border-style: dotted;
    margin: 10px;
    padding: 10px;
}

#divThree > span {
    color: yellow;
}

.spanOne ~ span {
    background: orange;
}

div:hover {
    background: yellow;
}


