:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-right: 8%;
    margin-left: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

h2 {
    display: inline-block;
}

p {
    display: inline-block;
}

h3 {
    color: #00ADEE;
}

#te-logo {
    width: 30%;
}

#student-grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "student-quote student-quote student-picture"
        "student-profile student-profile student-contact"
        "experience experience experience";
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}

#student-quote {
    grid-area: student-quote;
    justify-items: start;
    width: 100%;
}

#student-picture {
    grid-area: student-picture;
    justify-items: space-between;
}

[src="https://via.placeholder.com/350X350"] {
    border-radius: 50%;
    width: 100%;
}

#student-profile {
    grid-area: student-profile;
    justify-items: start;
    width: 100%;
}

#student-contact {
    grid-area: student-contact;
    text-align: center;
    justify-items: center;
    color: #505355;
    font-style: italic;
}

#experience {
    grid-area: experience;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}


