body {
  background-color: black;
  background-image: url(../images/background-brick.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: "Antic", san serif;
}

nav {
	display: block;
	margin: 5px;
	background-color: #2b3332;
	color: white;
	border-radius: 5px;
	box-shadow: 3px 3px rgb(16, 18, 18, 0.7);
	font-size: 1.2rem;
}

li {
	list-style: none;
	display: inline-block;
	padding: 15px;
}

#diamond {
	font-size: 50%;
}

a:link {
  	color: #c3d9d3;
  	text-decoration: none;
 	font-weight: medium;
}

a:visited {
  color: #d9c1b2;
  text-decoration: none;
  font-weight: medium;
}

a:hover {
  text-decoration: underline;
}

.floating-content {
	background-color: white;
	font-color: #2b3332;
	margin: 0 auto;
	width: 95%;
	height: 95%;
	vertical-align: center;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 3px 3px rgb(43, 51, 50, 0.7);
}

.main-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
		"directory blurb"
}

#site-blurb {
	grid-area: blurb;
	font-family: "Give You Glory", serif;
	font-style: italic;
	padding: 2%;
	margin-top: 10%;
}

form,
label,
select {
  font-family: "Antic", san serif;
  font-size: .8rem;
}

input,
select,
option {
	margin: 5px;
	height: 50%;
	border-radius: 5px;
	padding: 5px;
}

label {
	font-weight: bold;
}

form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
}

#main-submit-button:hover {
	height: 25px;
	border-radius: 5px;
	color: #f0f0f0;
	background-color: #003434;
}

#main-submit-button {
	height: 25px;
	border-radius: 5px;
	color: black;
	background-color: white;
}

.directory {
	grid-area: directory;
	padding-left: 5px;
}

#page-title {
	font-family: "Give You Glory", serif;
	color: #f0f0f0;
	padding: 20px 25px 10px 25px;
	background-color: #003434;
	border-radius: 5px;
	width: max-content;
	text-shadow: 2px 2px rgb(16, 18, 18, 0.7);
	font-size: 3em;
}

h2 {
	padding-left: 15px;
	font-weight: bold;
}

h3 {
	font-weight: bold;
	font-size: 1.5em;
}
	
#subtitle {
	display: inline block;
	font-family: "Antic", san-serif;
	font-weight: bold;
	font-size: 1.1em;
	margin-left: 0px;
}

.tile p {
	display: inline block;
	font-family: "Antic", san-serif;
	font-weight: medium;
	margin-left: 10px;
}

.tile {
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px lightgray;
	margin: 10px;
	padding: 5px 15px 5px 15px;
	height: 100%;
}

#tile-background {
	background-color: #2b3332;
	border-radius: 2px;
	padding: 2px;
	margin: 10px 10px 0px 0px;
}

#tile-background form {
	background-color: #c3d9d3;
	margin: 10px 8px 10px 8px;
	padding: 5px;
}

footer {
	display: block;
	margin: 5px;
	background-color: #2b3332;
	color: #dbdbdb;
	border-radius: 5px;
	box-shadow: 3px 3px rgb(16, 18, 18, 0.7);
	font-size: 1.2rem;
	padding: 1px 0px 1px 10px;
}