:root {
    --top-row-height: 120px;
    --gutter: 20px;
    --blue: #00adee;
    --light-blue: rgba(0, 173, 238, 0.4);
    --green: #8cc36f;
    --light-green: rgba(170, 239, 135, 0.8);  
    --bg-color: rgba(192, 192, 192, 0.1);
    --subheading: rgba(0, 0, 0, 0.6);
  }
  
  * {
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
  }
  header {
    height: var(--top-row-height);
  }
  header > img {
    width: 200px;
  }
  img {
    width: 100%;
  }

  aside > img {
    width: 70%;
    display:block;
    margin:auto;
  }
  aside {
    position: fixed;
    width: 175px;
    border-right: 1px solid var(--light-blue);
    height: 600px;
  }
  main {
    margin-left: 220px;
  }
  header .subheading {
    color: var(--subheading);
  }

  section > div > h2 {
    color: var(--green);
  }

  section div {
    display: inline-block;
    width: 32%;
  }

  nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }

  nav ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-blue);
    margin-left: 20px;
    margin-right: 20px;
  }

  nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: var(--blue);
    font-size: 1rem;
    padding-bottom: 20px;
  }

  main > section > div {
    
  }

  
  
  